<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      canvas {
        background: #eee;
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>시작</h1>
      <a href="/canvas/draw">step1. draw</a><br />
      <a href="/canvas/move">step2. move</a><br />
      <a href="/canvas/bounce">step3. bounce</a><br />
      <a href="/canvas/paddle">step4. paddle</a><br />
      <a href="/canvas/over">step5. game over</a><br />
      <a href="/canvas/brick">step6. brick</a><br />
      <a href="/canvas/collision">step7. collision</a><br />
      <a href="/canvas/score">step8. score</a><br />
      <a href="/canvas/mouseControl">step9. mouseControl</a><br />
      <a href="/canvas/result">step10. result</a><br />
    </div>
    <div>
      <canvas id="myCanvas" width="480" height="320"></canvas>
    </div>
    <script>
      // JavaScript code goes here
      var canvas = document.getElementById("myCanvas"); // 캔버스 참조
      var ctx = canvas.getContext("2d"); // 2D 렌더링 컨텍스트 저장(실질적canvas페인팅도구)

      // ball variables
      var ballRadius = 10; // 반지름
      let x = canvas.width / 2;
      let y = canvas.height - 30;
      let dx = 2;
      let dy = -2;

      // paddle variables
      var paddleHeight = 10;
      var paddleWidth = 75;
      var paddleX = (canvas.width - paddleWidth) / 2;
      var rightPressed = false;
      var leftPressed = false;

      document.addEventListener("keydown", keyDownHandler, false);
      document.addEventListener("keyup", keyUpHandler, false);

      function keyDownHandler(e) {
        if (e.key == "Right" || e.key == "ArrowRight") {
          rightPressed = true;
        } else if (e.key == "Left" || e.key == "ArrowLeft") {
          leftPressed = true;
        }
      }

      function keyUpHandler(e) {
        if (e.key == "Right" || e.key == "ArrowRight") {
          rightPressed = false;
        } else if (e.key == "Left" || e.key == "ArrowLeft") {
          leftPressed = false;
        }
      }

      function drawBall() {
        ctx.beginPath();
        ctx.arc(x, y, ballRadius, 0, Math.PI * 2);
        ctx.fillStyle = "#0095DD";
        ctx.fill();
        ctx.closePath();
      }
      function drawPaddle() {
        ctx.beginPath();
        ctx.rect(
          paddleX,
          canvas.height - paddleHeight,
          paddleWidth,
          paddleHeight
        );
        ctx.fillStyle = "#0095DD";
        ctx.fill();
        ctx.closePath();
      }

      function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        drawBall();
        drawPaddle();

        if (x + dx > canvas.width - ballRadius || x + dx < ballRadius) {
          dx = -dx;
        }
        if (y + dy > canvas.height - ballRadius || y + dy < ballRadius) {
          dy = -dy;
        }

        // paddle
        if (rightPressed) {
          paddleX += 7;
          if (paddleX + paddleWidth > canvas.width) {
            paddleX = canvas.width - paddleWidth;
          }
        } else if (leftPressed) {
          paddleX -= 7;
          if (paddleX < 0) {
            paddleX = 0;
          }
        }

        x += dx;
        y += dy;
      }
      setInterval(draw, 10);
    </script>
  </body>
</html>
